$primary-color: #FFF;
$secondary-color: #D0D6F9;
$third-color: #0B0D17;


$fullscreen-width: 1920px;
$fullscreen-height: 1080px;
$tablet-breakpoint: 934px;
$mobile-breakpoint: 546px;

@mixin main-heading($size:32px, $transform: none, $color: $primary-color, $spacing: initial, $height: normal){
    color: $color;
    font-family: Bellefair;
    font-size: $size;
    font-style: normal;
    font-weight: 400;
    line-height: $height;
    text-transform: $transform;
    letter-spacing: $spacing;
}

@mixin section-heading($color: $primary-color,$weight: 400, $transform: none, $size: 28px, $spacing: 4.725px){
    color: $color;
    font-family: BarlowCondensed;
    font-size: $size;
    font-style: normal;
    font-weight: $weight;
    line-height: normal;
    letter-spacing: $spacing;
    text-transform: $transform;
}

@mixin main-subheading($size: 14px, $spacing: 2.362px){
    color: $primary-color;
    font-family: BarlowCondensed;
    font-size: $size;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: $spacing;
    text-transform: uppercase;  
}

@mixin body-text($size: 18px, $height: 32px){
    color: $secondary-color;
    font-family: Barlow;
    font-size: $size;
    font-style: normal;
    font-weight: 400;
    line-height: $height;
}

.distance-font{
    color: $primary-color;
    font-family: Bellefair;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.background-image-adjust{
    height: 100%;
}